{% extends 'base.html.twig' %}

{% block title %}Liste des contacts{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block body %}

	
	<h1>Liste des contacts</h1>
	
	<table class="table table-hover">
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col">Société</th>
          <th>Type de contact</th>
          <th>Support</th>
          <th>Note</th>
          <th>Interlocuteur</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
      {% for contact in contacts %}
      	<tr>
      		<td>{{ contact.date|date("d-m-Y") }}</td>
      		<td>{{ contact.company.name }}</td>
      		<td>{{ contact.type.name }}</td>
      		<td>{{ contact.support }}</td>
      		<td>{{ contact.comments }}</td>
      		{% if contact.person.id is defined %}
      			<td><a href="{{ path('person_show', {'id' : contact.person.id}) }}">{{ contact.person.name }}</a></td>
      		{% else %}
      			<td><a href="{{ path('person_add', {'contact_id' : contact.id}) }}">Ajouter</a></td>
      		{% endif %}
      		<td><a href="{{ path('contact_edit', {'id' : contact.id}) }}">Modifier</a></td>
      		<td><a href="{{ path('contact_remove', {'id' : contact.id}) }}">Supprimer</a></td>
      	</tr>
      {% endfor %}
      </tbody>
    </table>
    <br>
    <a class="btn btn-success" role="button" href="{{ path('contact_add') }}">Ajouter un contact</a>

{% endblock %}

{% block javascripts %}
{% endblock %}