{% extends 'base.html.twig' %}

{% block title %}Liste des interlocuteurs{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block body %}

	
	<h1>Liste des interlocuteurs</h1>
	
	<table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Nom</th>
          <th scope="col">Prénom</th>
          <th scope="col">Sexe</th>
          <th scope="col">Poste</th>
        </tr>
      </thead>
      <tbody>
      {% for person in persons %}
      	<tr>
      		<td>{{ person.name }}</td>
      		<td>{{ person.forname }}</td>
      		<td>{{ person.gender }}</td>
      		<td>{{ person.job }}</td>
      		
      		<td><a href="{{ path('person_edit', {'id' : person.id}) }}">Modifier</a></td>
      		<td><a href="{{ path('person_remove', {'id' : person.id}) }}">Supprimer</a></td>
      	</tr>
      {% endfor %}
      </tbody>
    </table>
    <br>
    <a class="btn btn-success" role="button" href="{{ path('contact_add') }}">Ajouter un contact</a>

{% endblock %}

{% block javascripts %}
{% endblock %}